<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
      <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
   </head>
   
<!-- Identity Information -->

   <body>
      <div class="panel panel-primary" style="margin-left: 15px; margin-right: 15px; margin-top:15px;">
         <div class="panel-heading">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="text-center">ORCTRIX</h1>
                     <img src="static/orctrix.png" class="img-responsive  center-block" width="360px">
                     <h3 class="text-center">Create a beautiful research portfolio, the easy way</h3>
                     <center><a href="#" class="btn btn-social-icon btn-lg btn-twitter"><i class="fa fa-twitter"></i></a><a href="#" class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a><a href="#" class="btn btn-social-icon btn-lg btn-github"><i class="fa fa-github"></i></a></center>
                  </div>
               </div>
            </div>
         </div>
		</div> 
		
<!-- Biography -->
		 
         <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px; ">
            <div class="panel-heading">
               <div class="container">
                  <div class="row">
                  <div class="col-md-3"></div>
                     <div class="col-md-6">
                        <h2 class="text-center">Get Started by entering your ORCID</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body panel-default">
               <div class="container">
                  <div class="row">
                  	 <div class="col-md-6"></div>
                     <div class="col-md-6">
                        <p class="lead text-default">
                        <form method="POST">
                           {{ form.hidden_tag() }}
                           {{ form.orcid.label }} {{ form.orcid() }}
                           {{ form.submit() }}
                        </form>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
		</div>	
         </div>
      </div>
   </body>
</html>
