<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="panel panel-primary" style="margin-left: 15px; margin-right: 15px; margin-top:15px;">
        <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">{{ profile_data.name }}</h1>
                        <img src="http://www.gravatar.com/avatar/{{ profile_data.gravatarhash }}" class="img-responsive img-circle center-block" width="120px">
                        <h3 class="text-center">{{ profile_data.affiliation }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% for article in articles %}
        <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px; margin-top:15px;">
            <div class="panel-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">{{ article['doi'] }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ article["image"] }}" class="img-responsive img-circle center-block" width="120px">
                        </div>
                        <div class="col-md-8">
                            <p class="lead text-default">{{ article['summary'] }}</p>
                            <p class="lead text-default">This article has been cited by...</p>
                        </div>
                        <div class="col-md-2">
                            <div data-badge-type="medium-donut" data-doi="{{ article['url'] }}" data-hide-no-mentions="true" class="altmetric-embed text-center img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        </div>
    </div>
</body>

</html>
